html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    width: 100%;
    /*position: relative;*/
    text-align: center;
    display: block;
    /*vertical-align: middle;*/
}

.content {
    text-align: center;
    display: block;
    width:70%;
    margin: 0 auto;
    position: absolute;
}
nav{
    background-color: yellow;
    box-shadow: none;
}

.title {
    font-size: 96px;
}