.default-loader
{
	width:80px;
	height:80px;
	background :url("../img/ajax-loader.gif") center center no-repeat;
	top:10%;
	position:fixed;
	left:49%;
	border : 1px #27AE60 solid;
	border-radius :5px;
	background-color:#1e8449;
	z-index:99999;
}
.modal-title
{
	color:#1e8449;
}
.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }
.line {
	height: 1px;
	border-bottom: 1px dotted #c8c8c8;
	margin-top: 5px;
	margin-bottom: 5px;
}
.thumbnail{
	width: 100%;
	border-radius: 5px;
	border :1px solid #ccc;
	margin-top: 1px;
	cursor: pointer;
}
.doc
{
	color: #27ae60;
	padding: 10px;
	cursor: pointer;


}
#mediaWrap .popover
{
	    width: 360px;
    max-width: 1000px;
}
#mediaWrap table , #mediaWrap tr, #mediaWrap td
{
	vertical-align: top;
	word-wrap: break-word;
}
#mediaWrap tr {
	border-bottom: 1px dotted #ccd;
}
.scroll-head .nav > li > a:hover{
    background-color: transparent;
    border-bottom: 3px solid #7BB77C ;
}
.scroll-head .nav > li > a:focus
{
	background-color: transparent;
    /*border-bottom: 3px solid # ;*/
}
.scroll-head .nav > li.active > a
{
	border-bottom: 3px solid #27ae60;
}

.scroll-head 
{
	box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
.scroll-head {
	position: fixed;
	z-index: 100;
	background-color: #f6f6f6;
	padding: 2px;
	height: 60px;
	top: 120px;

}
#btn-top-group 
{
	position: fixed;
    right: 50px;
    top: 70px;
    z-index: 200;
    width: 200px;
    padding: 2px;
}
#btn-top-group  button {
	margin-left: 2px;
}